button.add {
    background-color: var(--main);
}

button.delete {
    background-color: var(--main-red);
}

.array-container {
    border: var(--border-thickness) solid white;
    border-radius: var(--border-radius);
    padding: 10px;
}

input.array {
    width: 10%;
    padding: 3px;
    border-radius: var(--border-radius);
    padding: 10px;
    border: 1px solid white;
    background-color: white;
    outline: none;
    box-shadow: none;
}

input.enabled:focus,
input.enabled:focus-visible,
input.enabled:focus-within {
    border: 3px solid white;
}

input.disabled:focus,
input.disabled:focus-visible,
input.disabled:focus-within {
  outline: none;
  border: 1px solid inherit;
  box-shadow: none;
  background-color: white;
}