button.add {
    background-color: var(--main);
}

button.delete {
    background-color: var(--main-red);
}

.array-container {
    border: var(--border-thickness) solid white;
    border-radius: var(--border-radius);
    padding: 10px;
}

input.array {
    width: 10%;
    padding: 3px;
    border-radius: var(--border-radius);
    padding: 10px;
    border: 1px solid #ccc;
}
