:root {
    --black: #333;
    --main: #79ff79;
    --main-red: #ff7979;
    --border-thickness: 3px;
    --border-radius: 8px;
    background-color: var(--black);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    padding-bottom: 0px;
    color: white;
}

h1 {
    color: var(--main);
    text-align: center;
    font-size: 44px;
}

p {
    margin: 20px;
    font-size: 24px;
    color: white;
}

p.sub {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
}

.sub.warn {
    color: var(--main-red);
}

.sub.ok {
    color: var(--main);
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 140px 30px 140px;
}

button {
    border: none;
    border-radius: var(--border-radius);
    font-size: 24px;
    padding: 12px;
    margin: 15px;
    color: var(--black);
    background-color: white;
}

footer {
    text-align: center;
    padding: 2%;
    width: 96%;
    background-color: #555;
    font-weight: bold;
    color: var(--main);
}